In [73]:
import requests
from bs4 import BeautifulSoup as bs
import re
import pathlib
import ezodf
import pandas as pd

In [11]:
url = "https://www.data.gov.uk/dataset/5d5028ef-9918-4ab7-8755-81f3ad06f308/pesticide-residues-in-food"

In [12]:
def get_soup(url): #integrated function to return parsed HTML
    return bs(requests.get(url).content)

soup = get_soup(url)

In [13]:
# getting a list of the links that contain ".ods" filename extension
file_urls = [a.get('href') for a in soup.find_all('a', href=True) if (re.search('ods',(a.get('href'))))]

In [38]:
# don't want repeated data, so take annual data if available, then quarterly up to most recent
ann_file_urls = [x for x in file_urls if 'annual' in x.lower()]

def return_years_available(urls):
    years = []
    for url in urls:
        match = re.search(r'\d{4}', url)
        if match:
            year = match.group()
            years.append(year)
    return set(years)
        
        
years_available = return_years_available(file_urls)        
years_with_ann = return_years_available(ann_file_urls)

years_need_quarterly = list(years_available - years_with_ann)

In [47]:
# most recent quarterly urls where annual data isn't available
qua_file_urls = [x for x in file_urls if any(y in x for y in years_need_quarterly) and 'quarterly' in x.lower()]

In [49]:
file_urls = ann_file_urls + qua_file_urls

In [51]:
file_names = [re.search('([A-Za-z_0-9.-]*\.ods)', url).group() for url in file_urls]

In [62]:
file_urls

['https://s3.eu-west-1.amazonaws.com/data.defra.gov.uk/PRIF/2021_annual_data.ods',
 'https://s3.eu-west-1.amazonaws.com/data.defra.gov.uk/PRIF/2020_prif_Annual.ods',
 'https://s3.eu-west-1.amazonaws.com/data.defra.gov.uk/PRIF/2019_annual_data.ods',
 'https://s3.eu-west-1.amazonaws.com/data.defra.gov.uk/PRIF/2018_annual_data_v2.ods',
 'https://s3.eu-west-1.amazonaws.com/data.defra.gov.uk/PRIF/2017_annual_data.ods',
 'https://s3.eu-west-1.amazonaws.com/data.defra.gov.uk/PRIF/2016_annual_data.ods',
 'https://s3.eu-west-1.amazonaws.com/data.defra.gov.uk/PRIF/Q2_2022_quarterly_data.ods',
 'https://s3.eu-west-1.amazonaws.com/data.defra.gov.uk/PRIF/Q1_2022_quarterly_data.ods']

In [66]:
def get_path(file_name): 
    filetopath = pathlib.Path.cwd() / "data" / file_name
    return filetopath

In [68]:
def save_files_locally(file_urls, file_names):
    for url,file_name in zip(file_urls,file_names):
        # getting the raw data from each url
        response = requests.get(url, stream=True)
        filetopath = get_path(file_name)
        # using open method to open a file on system and write the contents
        with open(filetopath, 'wb') as f:
            for chunk in response.iter_content(chunk_size=8192):
                if chunk:
                    # using with open write to write response.content to local filepath 
                    f.write(chunk)

In [69]:
# saves each file in the current directory, in a folder called "data"
save_files_locally(file_urls,file_names)

In [140]:
def get_doc(filetopath):
    doc = ezodf.opendoc(filetopath)
    return doc

def sheet_names_indexes(doc):
    sheet_name_index = {sheet.name: i for i,sheet in enumerate(doc.sheets)}
    return sheet_name_index

def doc_to_sheet(doc,ind):
    sheet = doc.sheets[ind]
    return sheet

def get_len_of_doc(doc): #gets the number of sheets in the document
    count = len(doc.sheets)
    return count

def identify_categories(row): ### Could use this to put categories as their own column and then fill forward. 
    cells = [cell.value for cell in row]
    if cells[0] != None and all(x is None for x in cells[1:]):
        return True
    else:
        return False

def sheet_to_df(sheet):
    df_dict = {}
    
    for i, row in enumerate(sheet.rows()):
    #     row is a list of cells
    # #     assume the header is on the first row
        if i == 0:
            title = sheet.row(0)[0].value
        elif i == 1:
            # columns as lists in a dictionary
    #         print(cell.value)
    #         df_dict.update({cell.value:[]})
            df_dict = {cell.value:[] for cell in row}
            col_index = [col_title for col_title in df_dict.keys()]
        elif i > 1:
            if identify_categories(row): ###should this be outside the for loop?
                 ### want to do something useful with this but first get it to skipp any category rows
                pass
            for j,cell in enumerate(row):
                try:
                    df_dict[col_index[j]].append(cell.value)
                except:
                    pass
    return pd.DataFrame(df_dict)

In [141]:
# file_name = file_names[0]
dfs = []
cols = ['Sample ID', 'Date of Sampling', 'Description', 'Country of Origin',
        'Sampling Point', 'Address', 'Brand Name', 'Packer / Manufacturer / Importer', 
        'Pesticide residues found in mg/kg (MRL)', None]
for file in file_names:
    filetopath = get_path(file)
    doc = get_doc(filetopath)
    sheet_name_idx = sheet_names_indexes(doc)
    bna_idxs = [value for key, value in sheet_name_idx.items() if 'BNA' in key]
    for idx in bna_idxs:
        sheet = doc_to_sheet(doc, idx)
        df = sheet_to_df(sheet)
        try:
            df.columns = cols
        except:
            pass
        dfs.append(df)

2021_annual_data.ods
{'Summary': 0, 'Asparagus_GB_BNA': 1, 'Asparagus_GB_SUM': 2, 'Asparagus_NI_BNA': 3, 'Asparagus_NI_SUM': 4, 'Aubergine_GB_BNA': 5, 'Aubergine_GB_SUM': 6, 'Aubergine_NI_BNA': 7, 'Aubergine_NI_SUM': 8, 'Banana_GB_BNA': 9, 'Banana_GB_SUM': 10, 'Banana_NI_BNA': 11, 'Banana_NI_SUM': 12, 'Beans_GB_BNA': 13, 'Beans_GB_SUM': 14, 'Beans_NI_BNA': 15, 'Beans_NI_SUM': 16, 'Beef_GB_BNA': 17, 'Beef_GB_SUM': 18, 'Beef_NI_BNA': 19, 'Beef_NI_SUM': 20, 'Berries_GB_BNA': 21, 'Berries_GB_SUM': 22, 'Berries_NI_BNA': 23, 'Berries_NI_SUM': 24, 'Bread_GB_BNA': 25, 'Bread_GB_SUM': 26, 'Bread_NI_BNA': 27, 'Bread_NI_SUM': 28, 'Broccoli_GB_BNA': 29, 'Broccoli_GB_SUM': 30, 'Broccoli_NI_BNA': 31, 'Broccoli_NI_SUM': 32, 'Cheese_GB_BNA': 33, 'Cheese_GB_SUM': 34, 'Cheese_NI_BNA': 35, 'Cheese_NI_SUM': 36, 'Edible_Seeds_GB_BNA': 37, 'Edible_Seeds_GB_SUM': 38, 'Eggs_GB_BNA': 39, 'Eggs_GB_SUM': 40, 'Eggs_NI_BNA': 41, 'Eggs_NI_SUM': 42, 'Fish_NI_BNA': 43, 'Fish_NI_SUM': 44, 'Grapefruit_GB_BNA': 45, 'Grapefruit_GB_SUM': 46, 'Grapefruit_NI_BNA': 47, 'Grapefruit_NI_SUM': 48, 'Grapes_GB_BNA': 49, 'Grapes_GB_SUM': 50, 'Grapes_NI_BNA': 51, 'Grapes_NI_SUM': 52, 'Infant_Food_GB_BNA': 53, 'Infant_Food_GB_SUM': 54, 'Infant_Food_NI_BNA': 55, 'Infant_Food_NI_SUM': 56, 'Melon_GB_BNA': 57, 'Melon_GB_SUM': 58, 'Melon_NI_BNA': 59, 'Melon_NI_SUM': 60, 'Milk_GB_BNA': 61, 'Milk_GB_SUM': 62, 'Milk_NI_BNA': 63, 'Milk_NI_SUM': 64, 'Mushroom_GB_BNA': 65, 'Mushroom_GB_SUM': 66, 'Mushroom_NI_BNA': 67, 'Mushroom_NI_SUM': 68, 'Nuts_GB_BNA': 69, 'Nuts_GB_SUM': 70, 'Olive_Oil_GB_BNA': 71, 'Olive_Oil_GB_SUM': 72, 'Olive_Oil_NI_BNA': 73, 'Olive_Oil_NI_SUM': 74, 'Processed_Peppers_GB_BNA': 75, 'Processed_Peppers_GB_SUM': 76, 'Peppers_GB_BNA': 77, 'Peppers_GB_SUM': 78, 'Peppers_NI_BNA': 79, 'Peppers_NI_SUM': 80, 'Plant_Based_Protein_GB_BNA': 81, 'Plant_Based_Protein_GB_SUM': 82, 'Potatoes_GB_BNA': 83, 'Potatoes_GB_SUM': 84, 'Potatoes_NI_BNA': 85, 'Potatoes_NI_SUM': 86, 'Raspberry_GB_BNA': 87, 'Raspberry_GB_SUM': 88, 'Raspberry_NI_BNA': 89, 'Raspberry_NI_SUM': 90, 'Rice_GB_BNA': 91, 'Rice_GB_SUM': 92, 'Rice_NI_BNA': 93, 'Rice_NI_SUM': 94, 'Soya_Based_Drink_GB_BNA': 95, 'Soya_Based_Drink_GB_SUM': 96, 'Spring_Greens_GB_BNA': 97, 'Spring_Greens_GB_SUM': 98, 'Spring_Greens_NI_BNA': 99, 'Spring_Greens_NI_SUM': 100, 'Wheat_GB_BNA': 101, 'Wheat_GB_SUM': 102, 'Wheat_NI_BNA': 103, 'Wheat_NI_SUM': 104}
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
2020_prif_Annual.ods
{'Analyte_Detections': 0, 'Avocado_BNA': 1, 'Avocado_SUM': 2, 'Beans_(Dried)_BNA': 3, 'Beans_(Dried)_SUM': 4, 'Beans_with_pods_BNA': 5, 'Beans_with_pods_SUM': 6, 'Bread_BNA': 7, 'Bread_SUM': 8, 'Carrots_BNA': 9, 'Carrots_SUM': 10, 'Cauliflower_BNA': 11, 'Cauliflower_SUM': 12, 'Cheese_(Hard)_BNA': 13, 'Cheese_(Hard)_SUM': 14, 'Courgette_BNA': 15, 'Courgette_SUM': 16, 'Dried_Fruits_(Grapes)_BNA': 17, 'Dried_Fruits_(Grapes)_SUM': 18, 'Fish_(Oily)_BNA': 19, 'Fish_(Oily)_SUM': 20, 'Grapes_BNA': 21, 'Grapes_SUM': 22, 'Herbs_BNA': 23, 'Herbs_SUM': 24, 'Infant_Formula_BNA': 25, 'Infant_Formula_SUM': 26, 'Kiwi_Fruit_BNA': 27, 'Kiwi_Fruit_SUM': 28, 'Lamb_BNA': 29, 'Lamb_SUM': 30, 'Lettuce_BNA': 31, 'Lettuce_SUM': 32, 'Liver_BNA': 33, 'Liver_SUM': 34, 'Mango_BNA': 35, 'Mango_SUM': 36, 'Milk_BNA': 37, 'Milk_SUM': 38, 'Okra_BNA': 39, 'Okra_SUM': 40, 'Onions_BNA': 41, 'Onions_SUM': 42, 'Orange_Juice_BNA': 43, 'Orange_Juice_SUM': 44, 'Oranges_BNA': 45, 'Oranges_SUM': 46, 'Pate_(Fish)_BNA': 47, 'Pate_(Fish)_SUM': 48, 'Pears_BNA': 49, 'Pears_SUM': 50, 'Peas_with_edible_pods_BNA': 51, 'Peas_with_edible_pods_SUM': 52, 'Peas_without_edible_pods_BNA': 53, 'Peas_without_edible_pods_SUM': 54, 'Potatoes_BNA': 55, 'Potatoes_SUM': 56, 'Poultry_Meat_BNA': 57, 'Poultry_Meat_SUM': 58, 'Pumpkin_and_Squash_BNA': 59, 'Pumpkin_and_Squash_SUM': 60, 'Rice_BNA': 61, 'Rice_SUM': 62, 'Rye_BNA': 63, 'Rye_SUM': 64, 'Sweet_Potatoes_BNA': 65, 'Sweet_Potatoes_SUM': 66}
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
2019_annual_data.ods
{'Analyte_Detections': 0, 'Apples_BNA': 1, 'Apples_Sum': 2, 'Barley_BNA': 3, 'Barley_SUM': 4, 'Beans_BNA': 5, 'Beans_SUM': 6, 'Bread_BNA': 7, 'Bread_SUM': 8, 'Bread_GF_BNA': 9, 'Bread_GF_SUM': 10, 'Butter_BNA': 11, 'Butter_SUM': 12, 'Cabbage_BNA': 13, 'Cabbage_SUM': 14, 'Cheese_BNA': 15, 'Cheese_SUM': 16, 'Chillies_BNA': 17, 'Chillies_SUM': 18, 'Chocolate_BNA': 19, 'Chocolate_SUM': 20, 'Cooked_Meat_BNA': 21, 'Cooked_Meat_SUM': 22, 'Curry_Leaves_BNA': 23, 'Curry_Leaves_SUM': 24, 'Fish_BNA': 25, 'Fish_SUM': 26, 'Grapes_BNA': 27, 'Grapes_SUM': 28, 'Honey_BNA': 29, 'Honey_SUM': 30, 'Infant_Food_BNA': 31, 'Infant_Food_SUM': 32, 'Lemons_BNA': 33, 'Lemons_SUM': 34, 'Lettuce_BNA': 35, 'Lettuce_SUM': 36, 'Milk_BNA': 37, 'Milk_SUM': 38, 'Oats_BNA': 39, 'Oats_SUM': 40, 'Okra_BNA': 41, 'Okra_SUM': 42, 'Pasta_BNA': 43, 'Pasta_SUM': 44, 'Peach_Nect_BNA': 45, 'Peach_Nect_SUM': 46, 'Peppers_BNA': 47, 'Peppers_SUM': 48, 'Plums_BNA': 49, 'Plums_SUM': 50, 'Pork_BNA': 51, 'Pork_SUM': 52, 'Potato_BNA': 53, 'Potato_SUM': 54, 'Potato_Proc_BNA': 55, 'Potato_Proc_SUM': 56, 'PrePack_Salad_BNA': 57, 'PrePack_Salad_SUM': 58, 'Rice_BNA': 59, 'Rice_SUM': 60, 'Shellfish_BNA': 61, 'Shellfish_SUM': 62, 'Spices_Turmeric_BNA': 63, 'Spices_Turmeric_SUM': 64, 'Spinach_BNA': 65, 'Spinach_SUM': 66, 'Strawberries_BNA': 67, 'Strawberries_SUM': 68, 'Tomatoes_BNA': 69, 'Tomatoes_SUM': 70, 'Wine_BNA': 71, 'Wine_SUM': 72}
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
2018_annual_data_v2.ods
{'Animal_fats_BNA': 0, 'Animal_fats_Sum': 1, 'Apples_BNA': 2, 'Apples_Sum': 3, 'Aubergines_BNA': 4, 'Aubergines_Sum': 5, 'Banana_BNA': 6, 'Banana_Sum': 7, 'Beans_with_pods_BNA': 8, 'Beans_with_pods_Sum': 9, 'Beef_BNA': 10, 'Beef_Sum': 11, 'Beer_BNA': 12, 'Beer_Sum': 13, 'Berries_BNA': 14, 'Berries_Sum': 15, 'Bread_BNA': 16, 'Bread_Sum': 17, 'Broccoli_BNA': 18, 'Broccoli_Sum': 19, 'Cheese_(Soft)_BNA': 20, 'Cheese_(Soft)_Sum': 21, 'Chinese_cabbage_BNA': 22, 'Chinese_cabbage_Sum': 23, 'Cream_BNA': 24, 'Cream_Sum': 25, 'Curry_leaves_BNA': 26, 'Curry_leaves_Sum': 27, 'Eggs_BNA': 28, 'Eggs_Sum': 29, 'Fish_(White)_BNA': 30, 'Fish_(White)_Sum': 31, 'Frozen_fruits_BNA': 32, 'Frozen_fruits_Sum': 33, 'Frozen_vegetables_BNA': 34, 'Frozen_vegetables_Sum': 35, 'Game_BNA': 36, 'Game_Sum': 37, 'Ginger_BNA': 38, 'Ginger_Sum': 39, 'Grapefruit_BNA': 40, 'Grapefruit_Sum': 41, 'Grapes_BNA': 42, 'Grapes_Sum': 43, 'Infant_food_BNA': 44, 'Infant_food_Sum': 45, 'Lentils_BNA': 46, 'Lentils_Sum': 47, 'Lettuce_BNA': 48, 'Lettuce_Sum': 49, 'Melon_BNA': 50, 'Melon_Sum': 51, 'Milk_BNA': 52, 'Milk_Sum': 53, 'Mushrooms_BNA': 54, 'Mushrooms_Sum': 55, 'Mushrooms_(speciality)_BNA': 56, 'Mushrooms_(speciality)_Sum': 57, 'Okra_BNA': 58, 'Okra_Sum': 59, 'Olive_oil_BNA': 60, 'Olive_oil_Sum': 61, 'Pears_BNA': 62, 'Pears_Sum': 63, 'Peas_without_pods_BNA': 64, 'Peas_without_pods_Sum': 65, 'Peppers_BNA': 66, 'Peppers_Sum': 67, 'Pineapple_BNA': 68, 'Pineapple_Sum': 69, 'Potatoes_BNA': 70, 'Potatoes_Sum': 71, 'Soft_citrus_BNA': 72, 'Soft_citrus_Sum': 73, 'Speciality_vegetables_BNA': 74, 'Speciality_vegetables_Sum': 75, 'Vine_leaves_BNA': 76, 'Vine_leaves_Sum': 77, 'Wheat_BNA': 78, 'Wheat_Sum': 79}
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
2017_annual_data.ods
{'Apple_BNA': 0, 'Apple_SUM': 1, 'Beans_BNA': 2, 'Beans_SUM': 3, 'Beans(tinned)_BNA': 4, 'Beans(tinned)_SUM': 5, 'Bread_BNA': 6, 'Bread_SUM': 7, 'Carrots_BNA': 8, 'Carrots_SUM': 9, 'Cauliflower_BNA': 10, 'Cauliflower_SUM': 11, 'Cheese(hard)_BNA': 12, 'Cheese(hard)_SUM': 13, 'Cherry_BNA': 14, 'Cherry_SUM': 15, 'Cucumber_BNA': 16, 'Cucumber_SUM': 17, 'Fish(oily)_BNA': 18, 'Fish(oily)_SUM': 19, 'Grapes_BNA': 20, 'Grapes_SUM': 21, 'InfantFormula_BNA': 22, 'InfantFormula_SUM': 23, 'KiwiFruit_BNA': 24, 'KiwiFruit_SUM': 25, 'Lamb_BNA': 26, 'Lamb_SUM': 27, 'Lemon&Limes_BNA': 28, 'Lemon&Limes_SUM': 29, 'Lettuce_BNA': 30, 'Lettuce_SUM': 31, 'Milk_BNA': 32, 'Milk_SUM': 33, 'Okra_BNA': 34, 'Okra_SUM': 35, 'Onions_BNA': 36, 'Onions_SUM': 37, 'Oranges_BNA': 38, 'Oranges_SUM': 39, 'Parsnip_BNA': 40, 'Parsnip_SUM': 41, 'Pears_BNA': 42, 'Pears_SUM': 43, 'Peppers_BNA': 44, 'Peppers_SUM': 45, 'Potato_BNA': 46, 'Potato_SUM': 47, 'PoultryMeat_BNA': 48, 'PoultryMeat_SUM': 49, 'Poultry(proc)_BNA': 50, 'Poultry(proc)_SUM': 51, 'PreparedFruit_BNA': 52, 'PreparedFruit_SUM': 53, 'Raspberry_BNA': 54, 'Raspberry_SUM': 55, 'Rice_BNA': 56, 'Rice_SUM': 57, 'RyeFlour_BNA': 58, 'RyeFlour_SUM': 59, 'RyeGrain_BNA': 60, 'RyeGrain_SUM': 61, 'Shellfish_BNA': 62, 'Shellfish_SUM': 63, 'SoyaMilk_BNA': 64, 'SoyaMilk_SUM': 65, 'SoyaProd_BNA': 66, 'SoyaProd_SUM': 67, 'SpecBeans(dried)_BNA': 68, 'SpecBeans(dried)_SUM': 69, 'SpecFruit_BNA': 70, 'SpecFruit_SUM': 71, 'SprGreens&Kale_BNA': 72, 'SprGreens&Kale_SUM': 73, 'Yogurt_BNA': 74, 'Yogurt_SUM': 75}
0
2
4
6
8
10
12
14

16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
2016_annual_data.ods
{'Apple_BNA': 0, 'Apple_SUM': 1, 'Apricots_BNA': 2, 'Apricots_SUM': 3, 'Beans_with_pods_BNA': 4, 'Beans_with_pods_SUM_': 5, 'Bread_BNA': 6, 'Bread_SUM': 7, 'Breakfast_Cereal_BNA': 8, 'Breakfast_Cereal_SUM': 9, 'Cabbage_BNA': 10, 'Cabbage_SUM': 11, 'Cashew_nuts_BNA': 12, 'Cashew_nuts_SUM': 13, 'Cheese_buffalo,_ewes,_goats_BNA': 14, 'Cheese_buffalo,_ewes,_goats_ST': 15, 'Cheese_processed_BNA': 16, 'Cheese_processed_SUM': 17, 'Cooked_meat_BNA': 18, 'Cooked_meat_SUM': 19, 'Fish_predator_BNA': 20, 'Fish_predator_SUM': 21, 'Fish_sea_BNA': 22, 'Fish_sea_SUM': 23, 'Gluten-free_food_BNA': 24, 'Gluten-free_food_SUM': 25, 'Grapefruit_BNA': 26, 'Grapefruit_SUM': 27, 'Grapes_BNA': 28, 'Grapes_SUM': 29, 'Honey_BNA': 30, 'Honey_SUM': 31, 'Infant_food_BNA': 32, 'Infant_food_SUM': 33, 'Jam_BNA': 34, 'Jam_SUM': 35, 'Leeks_BNA': 36, 'Leeks_SUM': 37, 'Lettuce_BNA': 38, 'Lettuce_SUM': 39, 'Milk_BNA': 40, 'Milk-SUM': 41, 'Non-dairy_milk_BNA': 42, 'Non-dairy_milk_SUM': 43, 'Okra_BNA': 44, 'Okra_SUM': 45, 'Pasta_BNA': 46, 'Pasta_SUM': 47, 'PeachesNectarines_BNA': 48, 'PeachesNectarines_SUM': 49, 'Pears_BNA': 50, 'Pears_SUM': 51, 'Peppers_BNA': 52, 'Peppers_SUM': 53, 'Popcorn_BNA': 54, 'Popcorn_SUM': 55, 'Pork_BNA': 56, 'Pork_SUM': 57, 'Pork_proc_BNA': 58, 'Pork_proc_SUM': 59, 'Potatoes_BNA': 60, 'Potatoes_SUM': 61, 'Prepfruit_BNA': 62, 'Prepfruit_SUM': 63, 'Rye_BNA': 64, 'Rye_SUM': 65, 'Ryeflour_BNA': 66, 'Ryeflour_SUM': 67, 'SpecialityVeg_BNA': 68, 'Specialityveg_SUM': 69, 'Spices_BNA': 70, 'Spices_SUM': 71, 'Springonions_BNA': 72, 'Springonions_SUM': 73, 'Strawberries_BNA': 74, 'Strawberries_SUM': 75, 'Tomatoes_BNA': 76, 'Tomatoes_SUM': 77, 'TinTomatoes_BNA': 78, 'TinTomatoes_SUM': 79, 'Wine_BNA': 80, 'Wine_SUM': 81}
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
Q2_2022_quarterly_data.ods
{'Summary': 0, 'Follow-up_previous_results': 1, 'Apples_GB_Q2_BNA': 2, 'Apples_GB_Q2_SUM': 3, 'Apples_NI_Q2_BNA': 4, 'Apples_NI_Q2_SUM': 5, 'Apricots_GB_Q2_BNA': 6, 'Apricots_GB_Q2_SUM': 7, 'Apricots_NI_Q2_BNA': 8, 'Apricots_NI_Q2_SUM': 9, 'Avocado_GB_Q2_BNA': 10, 'Avocado_GB__Q2_SUM': 11, 'Barley_GB_Q2_BNA': 12, 'Barley_GB_Q2_SUM': 13, 'Barley_NI_Q2_BNA': 14, 'Barley_NI_Q2_SUM': 15, 'Beans_GB_Q2_BNA': 16, 'Beans_GB_Q2_SUM': 17, 'Beans_NI_Q2_BNA': 18, 'Beans_NI_Q2_SUM': 19, 'Cabbage_GB_Q2_BNA': 20, 'Cabbage_GB_Q2_SUM': 21, 'Cabbage_NI_Q2_BNA': 22, 'Cabbage_NI_Q2_SUM': 23, 'Cherry_GB_Q2_BNA': 24, 'Cherry_GB_Q2_SUM': 25, 'Cherry_NI_Q2_BNA': 26, 'Cherry_NI_Q2_SUM': 27, 'Cucumber_GB_Q2_BNA': 28, 'Cucumber_GB_Q2_SUM': 29, 'Cucumber_NI_Q2_BNA': 30, 'Cucumber_NI_Q2_SUM': 31, 'Fish(Sea)_GB_Q2_BNA': 32, 'Fish(Sea)_GB_Q2_SUM': 33, 'Fish(Sea)_NI_Q2_BNA': 34, 'Fish(Sea)_NI_Q2_SUM': 35, 'Game_NI_Q2_BNA': 36, 'Game_NI_Q2_SUM': 37, 'Grapes_GB_Q2_BNA': 38, 'Grapes_GB_Q2_SUM': 39, 'Grapes_NI_Q2_BNA': 40, 'Grapes_NI_Q2_SUM': 41, 'Lettuce_GB_Q2_BNA': 42, 'Lettuce_GB_Q2_SUM': 43, 'Lettuce_NI_Q2_BNA': 44, 'Lettuce_NI_Q2_SUM': 45, 'Milk_GB_Q2_BNA': 46, 'Milk_GB_Q2_SUM': 47, 'Milk_NI_Q2_BNA': 48, 'Milk_NI_Q2_SUM': 49, 'Oats_GB_Q2_BNA': 50, 'Oats_GB_Q2_SUM': 51, 'Oats_NI_Q2_BNA': 52, 'Oats_NI_Q2_SUM': 53, 'Pasta_GB_Q2_BNA': 54, 'Pasta_GB_Q2_SUM': 55, 'Peach&Nect_GB_Q2_BNA': 56, 'Peach&Nect_GB_Q2_SUM': 57, 'Peach&Nect_NI_Q2_BNA': 58, 'Peach&Nect_NI_Q2_SUM': 59, 'Pork_GB_Q2_BNA': 60, 'Pork_GB_Q2_SUM': 61, 'Pork_NI_Q2_BNA': 62, 'Pork_NI_Q2_SUM': 63, 'Potatoes_GB_Q2_BNA': 64, 'Potatoes_GB_Q2_SUM': 65, 'Potatoes_NI_Q2_BNA': 66, 'Potatoes_NI_Q2_SUM': 67, 'Spinach_GB_Q2_BNA': 68, 'Spinach_GB_Q2_SUM': 69, 'Spinach_NI_Q2_BNA': 70, 'Spinach_NI_Q2_SUM': 71, 'Strawberry_GB_Q2_BNA': 72, 'Strawberry_GB_Q2_SUM': 73, 'Strawberry_NI_Q2_BNA': 74, 'Strawberry_NI_Q2_SUM': 75, 'Sundried_Tomato_GB_Q2_BNA': 76, 'Sundried_Tomato_GB_Q2_SUM': 77, 'Tomato_GB_Q2_BNA': 78, 'Tomato_GB_Q2_SUM': 79, 'Tomato_NI_Q2_BNA': 80, 'Tomato_NI_Q2_SUM': 81, 'Wine_GB_Q2_BNA': 82, 'Wine_GB_Q2_SUM': 83}
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
Q1_2022_quarterly_data.ods
{'Summary': 0, 'Follow-up_Quarter_4_2021': 1, 'Apples_GB_BNA': 2, 'Apples_GB_SUM': 3, 'Apples_NI_BNA': 4, 'Apples_NI_SUM': 5, 'Avocado_GB_BNA': 6, 'Avocado_GB_SUM': 7, 'Beans_GB_BNA': 8, 'Beans_GB_SUM': 9, 'Beans_NI_BNA': 10, 'Beans_NI_SUM': 11, 'Cabbage_GB_BNA': 12, 'Cabbage_GB_SUM': 13, 'Cabbage_NI_BNA': 14, 'Cabbage_NI_SUM': 15, 'Cucumber_GB_BNA': 16, 'Cucumber_GB_SUM': 17, 'Fish(sea)_NI_BNA': 18, 'Fish(sea)_NI_SUM': 19, 'Game_NI_BNA': 20, 'Game_NI_SUM': 21, 'Grapes_GB_BNA': 22, 'Grapes_GB_SUM': 23, 'Grapes_NI_BNA': 24, 'Grapes_NI_SUM': 25, 'Lettuce_GB_BNA': 26, 'Lettuce_GB_SUM': 27, 'Lettuce_NI_BNA': 28, 'Lettuce_NI_SUM': 29, 'Milk_GB_BNA': 30, 'Milk_GB_SUM': 31, 'Peach&Nect_GB_BNA': 32, 'Peach&Nect_GB_SUM': 33, 'Peach&Nect_NI_BNA': 34, 'Peach&Nect_NI_SUM': 35, 'Pork_GB_BNA': 36, 'Pork_GB_SUM': 37, 'Potato_GB_BNA': 38, 'Potato_GB_SUM': 39, 'Potato_NI_BNA': 40, 'Potato_NI_SUM': 41, 'Spinach_GB_BNA': 42, 'Spinach_GB_SUM': 43, 'Spinach_NI_BNA': 44, 'Spinach_NI_SUM': 45, 'Strawberry_GB_BNA': 46, 'Strawberry_GB_SUM': 47, 'Strawberry_NI_BNA': 48, 'Strawberry_NI_SUM': 49, 'Tomato_GB_BNA': 50, 'Tomato_GB_SUM': 51, 'Tomato_NI_BNA': 52, 'Tomato_NI_SUM': 53}
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52

In [179]:
df = pd.concat(dfs).reset_index(drop=True)

In [180]:
df = df.iloc[:,:9]

In [181]:
df.fillna(method='ffill', inplace=True) # forward filling the Nones 
df

,Sample ID,Date of Sampling,Description,Country of Origin,Sampling Point,Address,Brand Name,Packer / Manufacturer / Importer,Pesticide residues found in mg/kg (MRL)
0,3729/2021,2021-05-25T00:00:00,Green Asparagus,UK,Aberdeen & Stanton Ltd,"67 New Spitalfields Market, Sherrin Road, Leyt...",Watts Farms,"Watts Farm Farningham Hill Road, Farningham, K...",None were detected above the set RL
1,3697/2021,2021-05-25T00:00:00,Asparagus,UK,Addey & Son (Western International) Ltd,"P35 Western International Market, Hayes Road, ...",Spanton Farms,"Edward Spanton Farms Wayborough Farm, Minster,...",None were detected above the set RL
2,3715/2021,2021-05-11T00:00:00,Asparagus,UK,Aldi,"Thomsett Way, Queenborough, Kent ME11 5AR",Aldi,,None were detected above the set RL
3,5503/2021,2021-11-15T00:00:00,Asparagus Tips,Peru,Aldi,"Marton Road, Middlesbrough TS4 2PQ",Nature's Pick,"Aldi Stores Ltd PO Box 26. Atherstone, Warwick...",None were detected above the set RL
4,0565/2021,2021-10-18T00:00:00,Asparagus,Peru,Asda,"Western Way, Bury St Edmunds IP33 3SP",ASDA Grower Selection,"ASDA Stores Ltd Great Wilson Street, Leeds LS1...",None were detected above the set RL
...,...,...,...,...,...,...,...,...,...
38007,0005/2022,2022-01-24T00:00:00,Julita,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5XD",Tesco Finest,"Tesco Stores Ltd Tesco House, Shire Park, Kest...",azoxystrobin 0.08 (MRL = 3)
38008,0005/2022,2022-01-24T00:00:00,Julita,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5XD",Tesco Finest,"Tesco Stores Ltd Tesco House, Shire Park, Kest...",boscalid 0.4 (MRL = 3)
38009,0005/2022,2022-01-24T00:00:00,Julita,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5XD",Tesco Finest,"Tesco Stores Ltd Tesco House, Shire Park, Kest...",fenpyrazamine 0.3 (MRL = 3)
38010,0370/2022 Organic,2022-03-14T00:00:00,Organic Ramyle,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5HD",Tesco Organic,"Tesco Ireland Ltd Gresham House, Marine Road, ...",None were detected above the set RL
38011,0370/2022 Organic,2022-03-14T00:00:00,Organic Ramyle,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5HD",Tesco Organic,"Tesco Ireland Ltd Gresham House, Marine Road, ...",None were detected above the set RL

In [182]:
df.isna().sum()

Sample ID                                  0
Date of Sampling                           0
Description                                0
Country of Origin                          0
Sampling Point                             0
Address                                    0
Brand Name                                 0
Packer / Manufacturer / Importer           0
Pesticide residues found in mg/kg (MRL)    0
dtype: int64

In [183]:
renaming_dict ={
old_name : lowercase_name 
    for old_name,lowercase_name 
    in zip(list(df),[new_name.lower().replace(' ','_') 
                     for new_name in list(df)])
}
renaming_dict.update({'Packer / Manufacturer / Importer': 'packer / manufacturer / importer'})
df = df.rename(columns=renaming_dict)

In [185]:
df.replace({'None were detected above the set RL': 'n/a'}, regex=True, inplace=True)
df

,sample_id,date_of_sampling,description,country_of_origin,sampling_point,address,brand_name,packer / manufacturer / importer,pesticide_residues_found_in_mg/kg_(mrl)
0,3729/2021,2021-05-25T00:00:00,Green Asparagus,UK,Aberdeen & Stanton Ltd,"67 New Spitalfields Market, Sherrin Road, Leyt...",Watts Farms,"Watts Farm Farningham Hill Road, Farningham, K...",n/a
1,3697/2021,2021-05-25T00:00:00,Asparagus,UK,Addey & Son (Western International) Ltd,"P35 Western International Market, Hayes Road, ...",Spanton Farms,"Edward Spanton Farms Wayborough Farm, Minster,...",n/a
2,3715/2021,2021-05-11T00:00:00,Asparagus,UK,Aldi,"Thomsett Way, Queenborough, Kent ME11 5AR",Aldi,,n/a
3,5503/2021,2021-11-15T00:00:00,Asparagus Tips,Peru,Aldi,"Marton Road, Middlesbrough TS4 2PQ",Nature's Pick,"Aldi Stores Ltd PO Box 26. Atherstone, Warwick...",n/a
4,0565/2021,2021-10-18T00:00:00,Asparagus,Peru,Asda,"Western Way, Bury St Edmunds IP33 3SP",ASDA Grower Selection,"ASDA Stores Ltd Great Wilson Street, Leeds LS1...",n/a
...,...,...,...,...,...,...,...,...,...
38007,0005/2022,2022-01-24T00:00:00,Julita,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5XD",Tesco Finest,"Tesco Stores Ltd Tesco House, Shire Park, Kest...",azoxystrobin 0.08 (MRL = 3)
38008,0005/2022,2022-01-24T00:00:00,Julita,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5XD",Tesco Finest,"Tesco Stores Ltd Tesco House, Shire Park, Kest...",boscalid 0.4 (MRL = 3)
38009,0005/2022,2022-01-24T00:00:00,Julita,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5XD",Tesco Finest,"Tesco Stores Ltd Tesco House, Shire Park, Kest...",fenpyrazamine 0.3 (MRL = 3)
38010,0370/2022 Organic,2022-03-14T00:00:00,Organic Ramyle,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5HD",Tesco Organic,"Tesco Ireland Ltd Gresham House, Marine Road, ...",n/a
38011,0370/2022 Organic,2022-03-14T00:00:00,Organic Ramyle,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5HD",Tesco Organic,"Tesco Ireland Ltd Gresham House, Marine Road, ...",n/a

In [186]:
df['pesticide_residues_found_in_mg/kg_(mrl)'].head(20) # looking at the data in this column

0                                    n/a
1                                    n/a
2                                    n/a
3                                    n/a
4                                    n/a
5                                    n/a
6     flonicamid (sum) 0.2 (MRL = 0.03*)
7                                    n/a
8                                    n/a
9                                    n/a
10                                   n/a
11                                   n/a
12                                   n/a
13                                   n/a
14                                   n/a
15                                   n/a
16                                   n/a
17                                   n/a
18                                   n/a
19                                   n/a
Name: pesticide_residues_found_in_mg/kg_(mrl), dtype: object

In [187]:
df2=df['pesticide_residues_found_in_mg/kg_(mrl)'].str.extract(r'(.*)\s(\d[\d.]*)\s+\(MRL\s*=\s*(\d[\d.]*)\)')
df2.head(20)

      0    1    2
0   NaN  NaN  NaN
1   NaN  NaN  NaN
2   NaN  NaN  NaN
3   NaN  NaN  NaN
4   NaN  NaN  NaN
5   NaN  NaN  NaN
6   NaN  NaN  NaN
7   NaN  NaN  NaN
8   NaN  NaN  NaN
9   NaN  NaN  NaN
10  NaN  NaN  NaN
11  NaN  NaN  NaN
12  NaN  NaN  NaN
13  NaN  NaN  NaN
14  NaN  NaN  NaN
15  NaN  NaN  NaN
16  NaN  NaN  NaN
17  NaN  NaN  NaN
18  NaN  NaN  NaN
19  NaN  NaN  NaN

In [188]:
df = pd.concat([df,df2], axis = 1, sort = False) #new columns are currently 0,1,2
df.rename(columns={0:'chem_name',1:'amount_detected',2:'mrl'},inplace=True) # rename columns 0,1,2 to chem_name, amount_detected, and mrl
df.drop("pesticide_residues_found_in_mg/kg_(mrl)",1, inplace=True) # and deleted the old combined column
df

C:\Users\gabes\AppData\Local\Temp\ipykernel_1208\3238331631.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop("pesticide_residues_found_in_mg/kg_(mrl)",1, inplace=True) # and deleted the old combined column

,sample_id,date_of_sampling,description,country_of_origin,sampling_point,address,brand_name,packer / manufacturer / importer,chem_name,amount_detected,mrl
0,3729/2021,2021-05-25T00:00:00,Green Asparagus,UK,Aberdeen & Stanton Ltd,"67 New Spitalfields Market, Sherrin Road, Leyt...",Watts Farms,"Watts Farm Farningham Hill Road, Farningham, K...",NaN,NaN,NaN
1,3697/2021,2021-05-25T00:00:00,Asparagus,UK,Addey & Son (Western International) Ltd,"P35 Western International Market, Hayes Road, ...",Spanton Farms,"Edward Spanton Farms Wayborough Farm, Minster,...",NaN,NaN,NaN
2,3715/2021,2021-05-11T00:00:00,Asparagus,UK,Aldi,"Thomsett Way, Queenborough, Kent ME11 5AR",Aldi,,NaN,NaN,NaN
3,5503/2021,2021-11-15T00:00:00,Asparagus Tips,Peru,Aldi,"Marton Road, Middlesbrough TS4 2PQ",Nature's Pick,"Aldi Stores Ltd PO Box 26. Atherstone, Warwick...",NaN,NaN,NaN
4,0565/2021,2021-10-18T00:00:00,Asparagus,Peru,Asda,"Western Way, Bury St Edmunds IP33 3SP",ASDA Grower Selection,"ASDA Stores Ltd Great Wilson Street, Leeds LS1...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
38007,0005/2022,2022-01-24T00:00:00,Julita,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5XD",Tesco Finest,"Tesco Stores Ltd Tesco House, Shire Park, Kest...",azoxystrobin,0.08,3
38008,0005/2022,2022-01-24T00:00:00,Julita,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5XD",Tesco Finest,"Tesco Stores Ltd Tesco House, Shire Park, Kest...",boscalid,0.4,3
38009,0005/2022,2022-01-24T00:00:00,Julita,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5XD",Tesco Finest,"Tesco Stores Ltd Tesco House, Shire Park, Kest...",fenpyrazamine,0.3,3
38010,0370/2022 Organic,2022-03-14T00:00:00,Organic Ramyle,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5HD",Tesco Organic,"Tesco Ireland Ltd Gresham House, Marine Road, ...",NaN,NaN,NaN
38011,0370/2022 Organic,2022-03-14T00:00:00,Organic Ramyle,Spain,Tesco,"Jubilee Way, Newtownabbey BT36 5HD",Tesco Organic,"Tesco Ireland Ltd Gresham House, Marine Road, ...",NaN,NaN,NaN

In [96]:
df.count()

sample_id                           161
date_of_sampling                    161
description                         161
country_of_origin                   161
sampling_point                      161
address                             161
brand_name                          161
packer_/_manufacturer_/_importer    161
chem_name                           133
amount_detected                     133
mrl                                 133
dtype: int64

In [97]:
df['mrl'] = pd.to_numeric(df['mrl']) #converting mrls and amounts detected to numeric values
df['amount_detected'] = pd.to_numeric(df['amount_detected'])
df['amount_detected'].mean()

0.1274812030075186

In [101]:
df.groupby(['sample_id','description','chem_name']).sum()

                                             amount_detected    mrl
sample_id description     chem_name
0074/2021 Aubergine       Fosetyl (sum)                0.800  100.0
                          fluopyram                    0.020    0.9
                          spiromesifen                 0.010    0.5
0093/2021 Aubergine       chlorate                     1.600    0.4
0183/2021 Baby Aubergines cyprodinil                   0.050    1.5
...                                                      ...    ...
4251/2021 Aubergine       spinetoram                   0.010    0.5
4256/2021 Baby Aubergine  carbendazim (sum)            0.004    0.5
4752/2021 Aubergine       chlorate                     0.010    0.4
                          fluopyram                    0.020    0.9
5886/2021 Aubergines      tebuconazole                 0.030    0.4

[132 rows x 2 columns]